*{
    box-sizing: border-box;

}

main > div {
    background-color: rgba(191, 187, 187, 0.786);
    height: 200px;
    width: 200px;
    display:inline-block;
    margin: 30px;

}

span {
    
    display: inline-flexbox;
    margin: 60px;
    position: 600px;


}





